<?xml version="1.0" encoding="UTF-8" ?>
<!-- Specify the refresh internal in seconds.production -->
<Configuration monitorInterval="60"> 
	<properties>
		<property name="logPath">/casKey/caslog</property>
	</properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%c] - &lt;%m&gt;%n"/>
        </Console>
        <RollingFile name="file" fileName="${logPath}/cas.log" append="true"
                     filePattern="${logPath}/cas-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d %p [%c] - %m%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="auditlogfile" fileName="${logPath}/cas_audit.log" append="true"
                     filePattern="${logPath}/cas_audit-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d %p [%c] - %m%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="perfFileAppender" fileName="${logPath}/perfStats.log" append="true"
                     filePattern="${logPath}/perfStats-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%m%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile> 
    </Appenders>
    <Loggers>
        <AsyncLogger  name="org.jasig" level="error" additivity="false" includeLocation="true">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </AsyncLogger>
        <AsyncLogger  name="org.springframework" level="error" />
        <AsyncLogger name="org.springframework.webflow" level="error" />
        <AsyncLogger name="org.springframework.web" level="error" />
        <AsyncLogger name="org.pac4j" level="error" />
        <!--
        <AsyncLogger name="org.opensaml" level="error" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </AsyncLogger>
        <AsyncLogger name="org.ldaptive" level="error" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </AsyncLogger>
        <AsyncLogger name="com.hazelcast" level="error" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </AsyncLogger>
        -->
        <AsyncLogger  name="org.apereo.cas.security" level="error" additivity="false" includeLocation="true">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </AsyncLogger>
        
        <AsyncLogger name="perfStatsLogger" level="error" additivity="false" includeLocation="true">
            <AppenderRef ref="perfFileAppender"/>
        </AsyncLogger>

        <AsyncLogger name="org.jasig.cas.web.flow" level="error" additivity="true" includeLocation="true">
            <AppenderRef ref="file"/>
        </AsyncLogger>
        <AsyncLogger name="org.jasig.inspektr.audit.support" level="error" includeLocation="true">
            <AppenderRef ref="auditlogfile"/>
            <AppenderRef ref="file"/>
        </AsyncLogger>
        <AsyncRoot level="error">
            <AppenderRef ref="console"/>
        </AsyncRoot>     
    </Loggers>
</Configuration>
